# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Virtual environments
venv/
ENV/
env/
.venv/
venv.bak/

# Pyenv
.python-version

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
.pytest_cache/
.cache

# Mypy
.mypy_cache/

# Jupyter
.ipynb_checkpoints

# IPython
profile_default/

# VS Code
.vscode/

# Environment variables
.env
.env.*

# Editor directories and files
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Logs
*.log
